{% extends "admin_base.njk" %}

{% block contenido %}
    <h1>Ficha edición juego</h1>

<div id="formEdiciones" class="mt-2 mb-4">
    {% if edicion.id %}
        <form action="/admin/juegos/edicion/{{idJuego}}/{{edicion.id}}" method="post">
            <input type="hidden" name="_method" value="put"/>
    {% else  %}
        <form action="/admin/juegos/edicion/{{idJuego}}" method="post">
    {% endif %}
        <div class="form-group mt-1">
            <label for="edicion">Edición:</label>
            <input type="text" class="form-control" name="edicion"
                value="{% if edicion.id %}{{edicion.edicion}}{% endif %}" placeholder="Nombre edición..." />
        </div>

        <div class="form-group mt-1">
            <label for="anyo">Año:</label>
            <input type="number" class="form-control" name="anyo"
                value="{% if edicion.id %}{{edicion.anyo}}{% endif %}" placeholder="Año lanzamiento..." />
        </div>

        <button type="submit" class="btn btn-primary mt-2">
            Enviar
        </button>
    </form>
</div>

{% endblock contenido %}